<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings file="faqs.htm" />
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="faqs.htm" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
